* {
  box-sizing: border-box;
  align-items: center;
}

:root {
  --primary: #7f8eee;
  --secondary: #ee6a6a;
  --tertiary: #e93a86;
  font-size: 62.5%;
}

body {
font: 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  top: 15%;
background: linear-gradient(to right, rgb(145, 57, 234), rgb(108, 113, 249)); 
}

h1 {
  font: 600 3.5em 'Raleway', sans-serif;
  color: rgba(105, 132, 233, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  width: 100%;
}

h2, h3 {
font: 900 1em 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
  

}

header {
  background: var(--secondary);
  margin: 10px auto 0 auto;
  padding: 15px 25px;
  font-size: 20px;
  border: solid 15px var(--primary);
}


/*classes*/
.wrap {
  margin: 10px auto 0 auto;
  max-width: 600px;
  height: 100vh;
  color: white;
}
.wrap ol {
  background: var(--tertiary);
  color: black;
}

#questions {
  padding-bottom: 500px;
  font: 50em;
}
.start-button {
  margin: 0 auto;
}
.choices button {
  display: block;
  margin: 0 auto;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 30px;
}

.feedback {
  font-style: italic;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid rgb(201, 193, 193);
}

.timer {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 15px;
}
a {
  color: var(--tertiary);
  text-decoration: none;
  transition: color 0.1s;
  border-radius: 8px;
}

a:hover {
  color: var(--primary);
  border: 800px;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  text-align: center;
  border: 1000px;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
}

button:hover {
  background-color: rgb(235, 73, 94);
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #dfdae7;
}

p {
  font-size: 20px;
}